@{ Layout = "_Layout"; }
<div class="container">
    <div class="dt-head-center pt-5">
        <div class="h1" style="font-family:Verdana">
            Hallo Ini adalah Pembelajaran Boostrap
        </div>
    </div>
        <div class="row">
            <div class="col">
                <div class=" mb-5"></div>
                <button id="aa" type="button" class="btn-success">
                    Learn more about the team maintaining Bootstrap, how and why the project started, and how to get involved
                </button>
                <br>
                <div class=" my-3 bg-primary"></div>
                <button id="myBtn">About Bootstrap</button>
            </div>
            <div class="col">
                <div class=" mb-lg-5"></div>
                <button id="a" type="button" class="btn-block">
                    We’re actively looking to grow this team and would love to hear from you if you’re excited about CSS at scale, writing and maintaining vanilla JavaScript plugins, and improving build tooling processes for frontend code.
                </button>
            </div>
        </div>
</div>

@section scripts {
    <script src="~/Temp/js/Boostrap.js" asp-append-version="true"></script>
}



